{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'wpadmin/js/lib/jquery.min.js' %}"></script>
    <script>
        window.django = window.django || {};
        window.django.jQuery = window.django.jQuery || window.jQuery;
    </script>
{% endblock %}

{% block pretitle %}
    {{ block.super }}
    <form style="display: none" id="empty-action-form" method="post">
        {% csrf_token %}
    </form>
    
    <script>
        (function($) {
            $(document).ready(function() {
                $('.action-link').on('click', function (e) {
                    e.preventDefault();
                    var href = $(this).attr('href');
                    if (href) {
                        $('#empty-action-form').attr('action', href).submit();
                    }
                });
            });
        })(window.django.jQuery || window.jQuery);
    </script>
{% endblock %}
